*{
	font-family: Sans-Serif;
}
body{
	margin:0;
	padding:0;
	background-color:#F1F0F1
}
.Application-Body{
	margin:0;
	padding-bottom: 4%;
}
.SearchPage--Header {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-color:#221815
}

.SearchPage--Header img {
	height: 50px;
	width: 30%;
	display:inline-block;
}

.searchBar--Input{
	width:100%;
	text-align: center;
	padding:4% 0 ;
	background-color:rgb(10, 173, 173);
	overflow:hidden;
}
.searchBar--Input > h2{
	margin-top:0;
	font-size:24px;
	font-weight:300;
	color:white;
}
.searchBar--Input > input{
	width:70%;
	padding:1%;
	margin:0 auto;
	font-size: 28px;
	border:1px solid #eee;
	text-align: left;
	background:transparent;
	color:white;
}
.searchBar--Input > span {
	position: relative;
	left:70%;
	font-size:28px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
	color: white;
  }
.movieResults{
	padding-top:4%;
}

.movieResult--Row{
	margin:0 auto;
	width:80%;
	display: block;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}
.movieResult--Row:hover{
	border-bottom: 1px solid #484158;
	border-top: 1px solid #484158;
}
.movieResult--Poster-Element{
	width:150px;
	height:200px;
	display:inline-block;
	margin:1%;
}
.movieResult--Overview{
	display:inline-block;
	vertical-align: top;
	margin:1%;
	width:75%;
}
.myStars{
	direction:rtl;
	float:left;
	font-size:20px;
}
.myStars input{
	display:none;
}
.myStars input:checked ~ label,
.myStars:not(:checked) label:hover,
.myStars:not(:checked) label:hover ~ label{
	color:gold;
	cursor: pointer;
}

.myStars input:checked+label:hover,
.myStars input:checked~label:hover,
.myStars input:checked~label:hover~label,
.myStars label:hover~input:checked~label {
	color: red;
}
.currentRating{
	display: inline-block;
	color:white;
}