body{
	margin:0;
	padding:0;
	background-color:#F1F0F1
}
.Application-Body{
	margin:0;
	padding-bottom: 4%;
}
.SearchPage--Header {
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-color:#221815
}

.SearchPage--Header img {
	height: 50px;
	width: 30%;
	display:inline-block;
}
.SearchPage--Header p {
	text-align: center;
	margin:0;
	margin-top:2%;
	margin-left:10%;
	vertical-align: top;
	color:white;
	display: inline-block;
}
.searchBar--Input{
	width:100%;
	text-align: center;
	padding:4% 0 ;
	background-color:#484158
}
.searchBar--Input > input{
	width:70%;
	padding:1%;
	margin:0 auto;
	font-size: 28px;
	border:none;
	text-align: center;
	border-bottom:1px solid black;
	background:transparent;
	color:white;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
	color: pink;
  }
.movieResults{
	padding-top:4%;


}

.movieResult--Row{
	margin:0 auto;
	width:80%;
	display: block;
	border:1px solid black;
}
.movieResult--Poster-Element{
	width:150px;
	height:200px;
	display:inline-block;
	margin:1%;
}
.movieResult--Overview{
	display:inline-block;
	vertical-align: top;
	margin:1%;
	width:75%;
}
.myStars{
	direction:rtl;
	float:left;
}
.myStars input{
	display:none;
}
.myStars input:checked ~ label,
.myStars:not(:checked) label:hover,
.myStars:not(:checked) label:hover ~ label{
	color:gold;
	cursor: pointer;
}

.myStars input:checked+label:hover,
.myStars input:checked~label:hover,
.myStars input:checked~label:hover~label,
.myStars label:hover~input:checked~label {
	color: red;
}
.currentRating{
	display: inline-block;
	color:white;
}